
{% extends 'checkerapp/course_content.html' %}
{% load xchk_instructions %}
{% load static %}
{% block course_content %}
<h3>Schriftelijk materiaal</h3>
(TODO: eerder aangeven dat +- alles wordt uitgeleg voor border-box)
Een footer toevoegen lijkt op het eerste zicht simpel: helemaal onderaan in het <code>body</code>-element een block element plaatsen dat de volledige breedte van de parent opvult, zonder marges.

Het probleem hiermee is dat pagina's met weinig content dan nog witruimte onder deze footer zullen bevatten.

De oplossing bestaat erin de <em>minimale</em> grootte van de "content" (hiermee wordt bedoeld: alles tussen een bovenste en onderste banner) te bepalen met de CSS-functie `calc` en van `vh`-afmetingen.

Als <code>A</code> de hoogte is van de bovenste banner, <code>AM</code> de onderste marge van deze banner, <code>B</code> de hoogte van de onderste banner en <code>BM</code> de bovenste marge van de onderste banner, dan krijgen we <code>min-height: calc(100vh - A - B - AM - BM)</code>.
{% endblock %}

{% block assignment %}
{% endblock %}

